<div class="cuadroGris">
    <div class="titulo">V E S T E</div>
    <div>

        <ul>
            <li>
                <p>CUSTOMER CARE</p>
            </li>

            <li>Shipping Policy ></li>
            <li>Returns Policy ></li>
            <li>Contact Us ></li>
            <li>About Us ></li>
        </ul>

    </div>
    <div>
        <ul>
            <li>
                <p>VISIT OUR STORE</p>
            </li>

            <li>
                500 Terry Francois Street
            </li>

            <li>
                San Francisco. CA 94158
            </li>
        </ul>
    </div>

    <div>
        <ul>
            <li>STAY CONNECTED</li>
            <li>

            </li>
        </ul>
    </div>
</div>

<div class="divFinal">
    <p>© 2023 by CODELLEGE. Proudly created by Francisco Rodriguez</p>
</div>